@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* light theme styles */
:root {
  --primary: #7367f0;
  --secondary: #9767f0;
  --body-background: #f7f7f778 !important;
  --background: #ffffff !important;
  --text-color: #7b7b7b;
  --gradient:linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
  --shadow:0px 2px 6px 0px rgba(115,103,240,.3);
  --gray:rgb(243, 243, 243);
}

[data-bs-theme=dark] {
  --primary: #fefefe;
  --secondary: #0065ad;
  --body-background: #23293c !important;
  --background: #2d3349 !important;
  --text-color: #ffffff;
  --gray:gray;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: var(--body-background) !important;
}

.primary-btn {
  background-color: var(--primary);
  border: 0;
  outline: none;
  border-radius: 5px;
  transition: 0.4s all;
}
.primary-btn:hover {
  background-color: var(--secondary);
}

.secondary-btn {
  background-color: var(--secondary);
  border: 0;
  outline: none;
  border-radius: 5px;
  transition: 0.4s all;
}
.secondary-btn:hover {
  background-color: var(--primary);
  letter-spacing: 1px;
}

.dashbaord {
  display: flex;
  height: 100vh;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: var(--background);
  transition: width 0.3s;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
  /* Dropdown styles */
}
.sidebar .sidebar-header h4 {
  color: var(--text-color);
}
.sidebar .sidebar-menu {
  list-style-type: none;
}
.sidebar .sidebar-menu a {
  color: var(--text-color);
  text-decoration: none;
  padding: 13px;
  display: block;
  transition: 0.4s all;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.sidebar .sidebar-menu a svg {
  fill: var(--text-color);
}
.sidebar .sidebar-menu a:hover {
  background-color: var(--gray);
}
.sidebar .sidebar-menu .active {
  background: var(--gradient) !important;
  color: #ffffff;
}
.sidebar .sidebar-menu .active svg {
  fill: #ffffff;
}
.sidebar .dropdown-menu {
  display: none;
  list-style-type: none;
  padding-left: 15px;
}
.sidebar .dropdown-menu a {
  padding-left: 15px;
  font-size: 0.75rem;
}
.sidebar .dropdown.open .dropdown-menu {
  display: block;
  position: relative;
}
.sidebar .dropdown-toggle {
  cursor: pointer;
}
.sidebar .dropdown-toggle::after {
  display: none !important;
}
.sidebar .dropdown-toggle i {
  transition: transform 0.3s;
}
.sidebar .dropdown.open .dropdown-toggle i {
  transform: rotate(180deg);
}
.sidebar .dropdown-menu {
  background-color: var(--body-background) !important;
}
.sidebar .dropdown-menu a:nth-last-child(1) {
  margin-bottom: 0 !important;
}

.main-content {
  flex: 2;
  max-width: 83%;
  margin-left: auto;
}
.main-content .content-header {
  background-color: var(--background);
  border-radius: 10px;
}
.main-content .content-header .notifications .badge {
  top: -5px;
  right: -5px;
  border-radius: 100px;
  padding: 5px;
  font-size: 0.5rem;
  background-color: var(--primary);
  color: var(--background);
}
.main-content .content-header .notifications button {
  background-color: transparent;
}
.main-content .content-header .notifications button::after {
  opacity: 0 !important;
  display: none;
}
.main-content .content-header .notifications button svg {
  fill: var(--primary);
}
.main-content .content-header .notifications .dropdown-menu {
  background-color: var(--background);
  margin-top: 15px !important;
  transition: 0.4s all;
  min-width: 20rem;
}
.main-content .content-header .notifications .dropdown-menu a {
  font-size: 0.9rem;
}
.main-content .content-header .profile button {
  background-color: transparent;
}
.main-content .content-header .profile button::after {
  opacity: 0 !important;
  display: none;
}
.main-content .content-header .profile button svg {
  fill: var(--primary);
}
.main-content .content-header .profile .dropdown-menu {
  background-color: var(--background);
  margin-top: 15px !important;
  transition: 0.4s all;
}
.main-content .content-header .profile .dropdown-menu a {
  font-size: 0.9rem;
}

.toggle-button {
  display: none;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.close-button {
  display: none;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.3rem;
}

.login form input {
  padding: 12px;
  transition: 0.4s all;
  padding-left: 37px;
}
.login form input:focus {
  box-shadow: 0px 5px 10px rgb(237, 237, 237);
  border-color: var(--secondary);
}
.login form input::-moz-placeholder {
  font-size: small;
}
.login form input::placeholder {
  font-size: small;
}
.login form i {
  left: 15px;
  bottom: 19%;
  color: rgb(170, 170, 170);
  font-size: small;
}
.login form .eye-icon {
  right: 15px;
  bottom: 15% !important;
}
.login form .eye-icon i {
  cursor: pointer;
}
.login form .eye-icon i:hover {
  color: #000000;
}

.wrapper .cardbox {
  overflow: hidden;
}
.wrapper .cardbox .icon {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 70px;
  height: 70px;
  border-radius: 100px;
}
.wrapper .cardbox svg {
  fill: var(--background);
}
.wrapper .box1 {
  background-color: rgba(132, 108, 249, 0.3019607843);
}
.wrapper .box1 h5 {
  color: #836cf9;
}
.wrapper .box1 .icon {
  background-color: #836cf9;
  box-shadow: 0px 0px 0px 13px rgba(133, 107, 247, 0.2784313725);
}
.wrapper .box2 {
  background-color: rgba(249, 116, 22, 0.1490196078);
}
.wrapper .box2 h5 {
  color: rgba(249, 115, 22, 0.8);
}
.wrapper .box2 .icon {
  background-color: rgba(249, 115, 22, 0.8);
  box-shadow: 0px 0px 0px 13px rgba(249, 116, 22, 0.2745098039);
}
.wrapper .box3 {
  background-color: rgba(34, 197, 94, 0.1803921569);
}
.wrapper .box3 h5 {
  color: #22c55e;
}
.wrapper .box3 .icon {
  background-color: #22c55e;
  box-shadow: 0px 0px 0px 13px rgba(34, 197, 94, 0.1803921569);
}
.wrapper .box4 {
  background-color: rgba(6, 181, 212, 0.1843137255);
}
.wrapper .box4 h5 {
  color: #06b5d4;
}
.wrapper .box4 .icon {
  background-color: #06b5d4;
  box-shadow: 0px 0px 0px 13px rgba(6, 181, 212, 0.2509803922);
}

.chart-box {
  background-color: var(--background);
}

@media (max-width: 990px) {
  .sidebar {
    width: 0;
    overflow: hidden;
    padding: 0;
  }
  .sidebar.open {
    width: 100%;
    padding: 10px;
  }
  .toggle-button {
    display: block;
  }
  .close-button {
    display: block;
  }
  .main-content {
    padding: 0px;
    max-width: 70%;
    overflow: hidden;
  }
}
.modal .modal-content {
  animation: slit 0.7s forwards ease-out;
  transform: translateZ(-3000px) rotateY(90deg);
  opacity: 0;
}

@media (max-width: 992px) {
  .main-content {
    max-width: 100%;
  }
  .navbar-collapse {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 10px;
  }
  .navbar-collapse .nav-item .active {
    padding: 10px !important;
  }
  .accordion-button {
    padding: 20px;
  }
  .accordion-button p {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .formsec {
    margin-top: -15px;
  }
  .formsec .box button {
    width: 100%;
  }
  .formsec .box .form-inputs .form-floating {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .formsec {
    margin-top: -50px;
  }
  .formsec .box .form-inputs .form-floating:nth-child(1) {
    width: 44% !important;
  }
}
@media (min-width: 1001px) and (max-width: 1280px) {
  .formsec .box .form-inputs .form-floating:nth-child(1) {
    width: 44% !important;
  }
}/*# sourceMappingURL=style.css.map */